
body {
    margin: 0;
    background-color: hsl(0, 0%, 98%);
    color: #333;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

main {
    margin: 0 auto;
    padding: 4rem 0;
    width: 90%;
    max-width: 60rem;
}

.title {
    padding-top: 30px;
    font-size: 2.3rem;
    color: #d9a8a8;
    text-align: center;
}

.fund-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 0;
    width: 90%;
    max-width: 60rem;
}

form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.table-total {
    font-weight: bold;
}

table {
    margin: 30px;
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
    padding: 30px;
}
table thead td {
    background-color: #8eb2e0;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}
table tbody td {
    color: #636363;
    border: 1px solid #d7dee5;
}
table tbody tr {
    background-color: #e5edf5;
}
table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

button{
    background-color: #d9a8a8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

button:hover{
    background-color: #b08181;
    transition: 0.7s;
}

button:disabled{
    background-color: #a9a6a6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.generate-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer{
    margin-bottom: 10vh;
}

